[Unit]
Description=Good Proxies DB Check Service
After=network.target

[Service]
#User=root
User=freeproxy
WorkingDirectory=/home/freeproxy/
ExecStart=/usr/local/bin/good_proxies_db -config=/home/freeproxy/.config.yml
#ExecReload=/bin/kill -s HUP $MAINPID
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
